################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-debug
/.vs
/COT_Utility/.vs
/COT_Utility/x64
/out
